./SessionDesktop.el
./custom-settings.el
games/
*.elc
.DS_Store
.*
!/.gitignore

# for ycmd binaries
private/youcompleteme/

# ignore edts erlang contents
edts/

# package nw settings
./network-security.data

# under eshell
/eshell/

# backups
backup/

# ignore cache contents
cache/

# elpa packages
/elpa/

# AUCTeX auto folder
/auto/
