./SessionDesktop.el
./custom-settings.el
games/
*.elc
.DS_Store
.*
!/.gitignore

# for ycmd binaries
private/youcompleteme/

# ignore edts erlang contents
edts/

# package nw settings
./network-security.data

.cask

# under eshell
/eshell/

# backups
backup/

# ignore cache contents
cache/

# ignore personal
personal/*
!personal/.gitkeep

# ignore private
private/*
!private/.gitkeep

# elpa packages
/elpa/
elpa/

# AUCTeX auto folder
/auto/
