!/SessionDesktop.el
!/custom-settings.el
!/.dap-breakpoints
!/ac-comphist.dat
!/amx-items
!/places

games/
*.elc
.DS_Store
.*
!/.gitignore

# for ycmd binaries
private/youcompleteme/

# ignore edts erlang contents
edts/

# package nw settings
./network-security.data

# under eshell
/eshell/

# backups
backup/

# ignore cache contents
cache/

# ignore personal
personal/*
!personal/.gitkeep

# ignore private
private/*
!private/.gitkeep

# elpa packages
/elpa/
elpa/

# ignore other packages data
quelpa/
straight/
.cask

# AUCTeX auto folder
/auto/

# ignore backups
backups/

# ignore semanticdb data
semanticdb/

vendor/emacs-clang-complete-async
